@charset "UTF-8";

body
{
    background-image: linear-gradient(to right, #a0cab5, #f1edd0);
    color: black;
    font-size: 12pts;
    font-family: arial;
    text-align: center;
    text-decoration: none;
    margin: none;
}

h1
{
    color:#2b4b32;
    font-size: 30pt;
    font-family: arial
}

h2
{
    color: black;
    font-size: 30pt;
    font-family: arial
}

h3
{
    color:black;
    font-size: 30pt;
    font-family: arial
}

a
{
    color:blue;
    text-decoration: none;
}

.par
{
    color:blue;
    font-size: 20pt;
    font-family: Verdana
}

.impar
{
    color:red;
    font-size: 16pt;
    font-family: Arial
}